# TUPLES  #immutable'dır değiştirilemez. İrretable'dir.

In [ ]:
tuple()
()

In [2]:
tuple("Techpro")

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [3]:
tuple([1, 2, 3, 4, 5]) # listeler tuple'a çevrilebilir.

(1, 2, 3, 4, 5)

In [4]:
tuple([1, 2, 3, 4], "Techpro") #yalnızca 1 tane girilebilir. hata verecek

TypeError: tuple expected at most 1 argument, got 2

In [7]:
tuple_1 = ("Techpro", 3, 3.14, False, [1, 2, 3])
tuple_1

('Techpro', 3, 3.14, False, [1, 2, 3])

In [6]:
type(tuple_1)

tuple

In [8]:
tuple(123)  #ittarable olmadığı için hata verir

TypeError: 'int' object is not iterable

In [1]:
name = "Fulya"
tuple(name)

('F', 'u', 'l', 'y', 'a')

In [10]:
tuple(name)

('F', 'u', 'l', 'y', 'a')

In [16]:
pi_number = 3,14  # virgülle ayırınca float olmaz, tuple olur ve iki farklı eleman gibi görür
pi_number

(3, 14)

In [14]:
type(pi_number)

tuple

In [18]:
["Techpro"]  #liste

['Techpro']

In [20]:
["Techpro", 3, False]  #liste oluşturur.

['Techpro', 3, False]

In [21]:
("Techpro")   #tuple oluşturmaz bu. str oluşturur.

'Techpro'

In [22]:
("Techpro",)   #sonuna virgül koyarsak tuple oluştururuz. tek elemanlı tuple için

('Techpro',)

In [23]:
tek_elemanlı = ("Techpro",)

In [24]:
len(tek_elemanlı)

1

In [26]:
type(tek_elemanlı)

tuple

In [27]:
type("techpro",)  #bunu str olarak alır

str

In [28]:
type(("techpro",))  #iki parantez alırsak tuple olarak alır.

tuple

In [31]:
liste_1 = 3, 2, 5  #tuple'dır bu. liste oluşturan köşeli parantezi koymazsak tuple olur
liste_1

(3, 2, 5)

In [32]:
type(liste_1)

tuple

In [34]:
[1, 2, 3] + [4, 5]  #listelerde toplama yapabiliriz.

[1, 2, 3, 4, 5]

In [35]:
[1, 2, 3] * 3  # listelerde çarpma yapılabilir

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
(1, 2, 3) + (4, 5) #tupellar da toplama yapılabilir

(1, 2, 3, 4, 5)

In [38]:
(1, 2, 3) * 4 #tupellar da çarpma yapılır. ama int ifadelerle çarpabiliriz sadece

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [39]:
("Techpro", 3, False) + ("Sedat")  # virgül olmadığı için toplamaz. str olarak alır Sedat'ı

TypeError: can only concatenate tuple (not "str") to tuple

In [40]:
("Techpro", 3, False) + ("Sedat",)  #bir virgül nelere kadir

('Techpro', 3, False, 'Sedat')

## Indexing & Slicing

In [42]:
tuple_2 = ("Aslan", 4, True, ["Tülay",4, 5,6], ("Zeynep", 2, 3.14))
tuple_2

('Aslan', 4, True, ['Tülay', 4, 5, 6], ('Zeynep', 2, 3.14))

In [43]:
tuple_2[0]

'Aslan'

In [44]:
tuple_2[3][0]  #Tülay'a ulaşmak için

'Tülay'

In [45]:
tuple_2[4][1]  # 2'ye ulaşmak için

2

In [48]:
tuple_2[1:4] #tuple olarak döndü

(4, True, ['Tülay', 4, 5, 6])

In [49]:
"techpro"[1:4]  #str döndürür

'ech'

In [50]:
[1, 2, 4, 6, 8][1:4] #liste döndürür. neyi slice ediyorsak type o olur.

[2, 4, 6]

In [51]:
tuple_2[3:0]  #stop noktası 0 olduğu için boş verir

()

In [52]:
tuple_2[3:0:-1] # -1 girersek tersten gide.

(['Tülay', 4, 5, 6], True, 4)

In [53]:
tuple_2[0] = "Meltem"  #bir elemanı değiştirmeye izin vermez. tuple'ın tamamını değiştirebilirsin

TypeError: 'tuple' object does not support item assignment

In [55]:
tuple_2

('Aslan', 4, True, ['Tülay', 4, 5, 6], ('Zeynep', 2, 3.14))

In [57]:
tuple_2[3]  #liste döndü

['Tülay', 4, 5, 6]

In [58]:
tuple_2[3].append(7)  #liste döndüğü için listeye ek yapabiliriz.

In [59]:
tuple_2  #tupel içinde de değişti ama tupellar hala immutable'dır.

('Aslan', 4, True, ['Tülay', 4, 5, 6, 7], ('Zeynep', 2, 3.14))

In [61]:
tuple_2[0].upper()  #tuple içinde str döndüğü için. str fonksiyonu apabiliriz ama tuple'ın içi değişmez

'ASLAN'

In [62]:
tuple_2

('Aslan', 4, True, ['Tülay', 4, 5, 6, 7], ('Zeynep', 2, 3.14))

In [64]:
tuple_2[3].remove(5) #tupel'ın içindeki listedeki 5'i siler ama tupel'ın içindekilisteyi silemeyiz.

In [66]:
tuple_2  # 5 gitti.

('Aslan', 4, True, ['Tülay', 4, 6, 7], ('Zeynep', 2, 3.14))

In [68]:
del tuple_2[3]  #listeyi silemeyiz. tupellar immutable'dir. ama tupel'ın tamamını silebiliriz.

TypeError: 'tuple' object doesn't support item deletion

In [69]:
tuple_2[3][0].upper() #bu şekilde upper yapabiliyoruz ama bütünde değişmez.

'TÜLAY'

In [70]:
tuple_2

('Aslan', 4, True, ['Tülay', 4, 6, 7], ('Zeynep', 2, 3.14))

## Tuple Methods (listelerin metodları listeleri değiştiriyordu ama tuple metodları değiştirmez.)

In [71]:
tuple_3 = (1, 4, 3, 5, 3, 2, 4)

In [72]:
tuple_3.count(4)  #kaçtane 4 olduğunu sayar

2

In [74]:
tuple_3.count(6)  #içinde yoksa sıfır verir.

0

In [75]:
tuple_3.index(5) #içine yazdığımız elemanın hangi indekste olduğunu gösterir.

3

In [76]:
tuple_3.index(4) #gördüğü ilk 4'ün indeksini yazdırır

1

In [77]:
tuple_3.index(7) #tuppelın içinde yoksa hata verir.indeksini veremez

ValueError: tuple.index(x): x not in tuple

In [78]:
tuple_2

('Aslan', 4, True, ['Tülay', 4, 6, 7], ('Zeynep', 2, 3.14))

In [81]:
tuple_2.index(["Tülay", 4, 6, 7])  #listenin indeksine bakmak için tüm listeyi yazmak gerekir.

3

In [2]:
tuple("Fulya")

('F', 'u', 'l', 'y', 'a')

# range()

In [83]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [84]:
range(4, 10)  #4'den 10'a kadar al dedik. ama show etmez.

range(4, 10)

In [86]:
list(range(4, 10)) #show etmek için list ya da tuple kullanırız.

[4, 5, 6, 7, 8, 9]

In [87]:
tuple(range(4,10))

(4, 5, 6, 7, 8, 9)

In [93]:
range(4,10)  #iterable'dir range fonksiyonu ve float değer veremeyiz

range(4, 10)

In [89]:
range(4,10)[1]

5

In [90]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
list(range(0))

[]

In [94]:
list(range(2, 10, 2)) #sondaki 2 : 2'şer2'şer gitmesini sağlar

[2, 4, 6, 8]

In [97]:
list(range(-5, -10, -2))

[-5, -7, -9]

In [98]:
list(range(-5, 10, 2))

[-5, -3, -1, 1, 3, 5, 7, 9]

In [100]:
list(range(10, 2, -1))  #tesrten yazdık

[10, 9, 8, 7, 6, 5, 4, 3]

In [104]:
list(range(2, 50, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]