# Type Conversion

### All types to str: bütün veri tipleriin stringe dönüştürülmesi

In [1]:
age=28
type(age)

int

In [2]:
str(age)

'28'

In [3]:
age = str(age)

In [4]:
type(age)

str

In [5]:
str(3.14)

'3.14'

In [6]:
str(True)

'True'

# str to int

In [7]:
age_1 = "35"
type(age_1)

str

In [8]:
int(age_1)

35

In [9]:
type(age_1) # atama yapmadığımız için str görünecek

str

In [13]:
2024 - int(age_1) #doğum yılını bulduk

1989

In [14]:
age_1 = int(age_1) #tanımladık

In [15]:
2024 - age_1

1989

In [18]:
int("32a") #bu işlemi çeviremez. a var.

ValueError: invalid literal for int() with base 10: '32a'

# str to float

In [16]:
float("3.14")

3.14

In [17]:
float("3.14a") #çeviremez!

ValueError: could not convert string to float: '3.14a'

# float to int, int to flot

In [19]:
int(5.7) #yuvarlama yapmaz. noktadan sonrasını siler.

5

In [20]:
int(5.9999999999999999) #16. karakterden sonra istisna var hahaayy!

6

In [21]:
int(22/7) #pi sayısını 3 alacak.

3

In [22]:
float(5)

5.0

In [23]:
int("3.14") #çevirmez

ValueError: invalid literal for int() with base 10: '3.14'

In [24]:
float("3.14") #önce floata çevirdik

3.14

In [27]:
int(float("3.14")) #str'den int elde ettik.

3

# bool to int, bool to float

In [28]:
int(True)

1

In [29]:
float(True)

1.0

In [30]:
int(False)

0

In [31]:
float(False)

0.0

In [32]:
str(False) #stringe çevirir

'False'

# Arithmetic Operators

In [33]:
3 + 5

8

In [34]:
9 - 4

5

In [36]:
8 * 5 #asteriks işareti *

40

In [37]:
40 / 10

4.0

In [38]:
0.8 * 5

4.0

In [39]:
25 / 3

8.333333333333334

In [40]:
25 // 3 #floor division. sadece bölümü alır, kalanı vermez.

8

In [41]:
25 % 3 #modulus, kalanı verir

1

In [42]:
2 ** 3 #üssünü alır, 2 üzeri üç oldu bu.

8

In [47]:
25 ** 0.5

5.0

In [49]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)
print (x)

36.0

# yarıçapı 7 olan bir dairenin alanını bulan kod

In [50]:
pi = 3.14 
r = 7
A = pi * r ** 2

In [52]:
print ("yarı çapı 7 olan dairenin alanı:", A)

yarı çapı 7 olan dairenin alanı: 153.86

# bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan

In [60]:
a = 5
b = 12
c = (5 ** 2 + 12 ** 2 ) ** (1/2)
print(c)

13.0